<section class="container" id="all-products">
  <h1 class="text-danger">{{title}}</h1>
  <hr />
  <br />

  <ng-template #notTrue class="alert alert-warning">
    <div class="alert alert-warning text-center h3">No products found!</div>
  </ng-template>

  <!-- Start of bs thumbnail card -->
  <div class="row" *ngIf="products.length > 0; else notTrue">
    <div class="col-md-4" *ngFor="let product of products; let i =index">
      <div class="thumbnail">
        <img src="{{product.imageURL}}" alt="{{product.name}}" />
        <div class="caption">
          <h3 class="list-group-item">{{product.name}}</h3>
          <p class="list-group-item">{{product.description}}</p>
          <p class="list-group-item">
            <b>Price:</b>
            &nbsp;
            <i> </i>
            <s class="text-danger"> {{product.was}}</s>

            <span class="text-info"> &nbsp;${{product.price}}</span> &nbsp;
          </p>
          <p class="list-group-item">
            <b>Quantity:</b> {{product.quantity}}
            <small class="text-muted"> &nbsp;In Stock</small>
          </p>
          <p style="margin-top: 15px;">
            <button
              class="btn btn-info btn-sm"
              role="button"
              style="margin-right: 6px;"
              (click)="showProductDetails(product)"
            >
              <i class="fa fa-eye"></i> &nbsp; <b> View</b>
            </button>
            <a
              href="/product/{{product.id}}"
              class="btn btn-danger btn-sm"
              role="button"
              (click)="delete(product)"
            >
              <i class="fa fa-trash"></i>&nbsp; <b> Delete</b>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <ng-template #notTrue class="alert alert-warning">
    <div class="alert alert-warning text-center h3">No products found!</div>
  </ng-template>
  <!-- Start of bs thumbnail card -->
</section>
